<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_github_url }}" title="I did some open source projects" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_twitter_url }}" title="When there is no reasonable human around, I write it here" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}
  
  <!-- Medium link -->
  {% if site.resume_social_links.resume_medium_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_medium_url }}" class="icon-link" target="_blank" itemprop="url">{% include icons/icon-medium.html %}</a>
  </li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_dribbble_url }}" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-dribbble.html %}</a></li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_facebook_url }}" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-facebook.html %}</a></li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_linkedin_url }}" title="LinkedIn profile that is a bit outdated" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_instagram_url }}" title="I like taking photos, but not always" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-instagram.html %}</a></li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_website_url }}" title="I write blog posts from time to time" class="icon-link" target="_blank" itemprop="url">{% include icons/icon-website.html %}</a></li>
  {% endif %}

</ul>
{% endif %}
